<div class="container">
	<!-- Modal -->
	<!-- Button trigger modal -->
	<div class="modal fade" id="conditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content text-left">
				<div class="modal-header">
				<h4 class="modal-title red" id="myModalLabel">Conditions générales</h4>
				</div>
				<!-- modal body -->
				<div class="modal-body">
					<p class="cond_text">
					<h5 class="con_H5">1. Objet</h5>
					
							La prestation fournie dans le cadre de l’application «Platinium Cab» s’adresse aux personnes voulant effectuer un déplacement urbain en véhicule motorisé ; elle consiste à mettre à leur disposition une application logicielle de commande de véhicules avec chauffeur.
							Le transport qui résulte de cette commande est effectué par un chauffeur indépendant, ce dernier réalise pour son propre compte et sous son entière responsabilité les prestations commandées par le client.


							La société Platinium Cab fournit le service de mise en relation via le site Platinium Cab, mais il n’a pas la qualité de transporteur ou d’intermédiaire de transport.


							Les présentes Conditions Générales ont pour objet de définir les conditions d’utilisation de l’Application et les conditions de réalisation de la Prestation, acceptées par le Client et le Prestataire.

					<h5 class="con_H5">2. Informatique et donnée</h5>

							Les informations recueillies par la Société dans le cadre du Service font l'objet d'un traitement informatique destiné à la mise en œuvre dudit Service, en particulier les données d'identification du Client ainsi que les informations relatives aux prestations de transport commandées et réalisées.
							Ces informations sont nécessaires à la Société pour traiter les commandes. Elles sont notamment enregistrées dans les fichiers clients de la Société.
							La Société s'engage à assurer la confidentialité des données à caractère personnel communiquées par le Client.
							Le Client est informé que la Société peut utiliser les données personnelles concernant le Client afin de lui adresser des offres commerciales susceptibles de l'intéresser.
							Conformément à la loi « Informatique et Libertés » du 6 janvier 1978, le Client dispose d'un droit d'accès, de modification, de rectification et de suppression des données personnelles le concernant.

					<h5 class="con_H5">3. La Commande</h5>

							<h6 class="con_H6">3.1 Condition préalable</h6>
							La Commande de Prestations via le Site est soumise à l’acceptation préalable par le Client des présentes Conditions Générales.

							<h6 class="con_H6">3.2 Descriptif des étapes de la Commande</h6>
							Selon les droits conférés au moment de la conclusion du Contrat Entreprise, les Utilisateurs pourront choisir le type de paiement : paiement différé ou paiement immédiat.


							En cas de saisie d’un lieu de destination, le Prestataire propose un prix pour réaliser le Transfert journalier sollicité. Le Client est libre d’accepter ou non l’offre proposée par le Prestataire ; s’il l’accepte, il doit s’être préalablement assuré que toutes les informations affichées sont conformes au Transfert journalier souhaité.


							En cas d’absence de saisie d’un lieu de destination, le Prestataire propose un prix total qui correspond à la commande initiale (8€ en gamme berline ECO, 15€ en gamme Berline premium, Van , 30€ en gamme Berline, Van de luxe et 40€ en moto).
							Cette commande pourra donner lieu à des commandes complémentaires si la course excède la commande initiale. Le kilométrage et le temps imparti pour cette commande initiale étant calculé selon les conditions décrites à l’article 9.


							Le Prestataire transmet au Chauffeur chargé du Transfert journalier les éléments de la Commande.

							<h6 class="con_H6">3.3 Obligations du Client</h6>
							Après validation de la Commande, le Client doit se présenter au lieu convenu. Ce dernier recevra un message sur son Smartphone lui confirmant l’arrivée du Chauffeur. Ce message signale le début de la période d’attente du Chauffeur.


							En cas d’attente du Chauffeur, des frais d’attente dont le montant est déterminé à l’article 5.3, lui seront automatiquement facturés au-delà d’un délai de 10 minutes.


							En cas de non-présentation du Client, le Chauffeur est réputé libre de partir après une période d’attente de 20 minutes. Des frais d’annulation, dont le montant est déterminé à l’article 5.2, lui seront automatiquement facturés.


							<h6 class="con_H6">3.4 Obligations du Prestataire</h6>
							A la réception de la demande du Client, en cas de saisie du lieu de destination, le Prestataire s’engage à proposer une offre indiquant le prix de la prestation journalière.


							Si le Client accepte l’offre, le Prestataire s’engage à lui adresser une confirmation de la Commande, par message sur son Smartphone (contenant le prénom du Chauffeur et le temps d’arrivée du véhicule) et par l’apparition d’une fenêtre sur l’écran du téléphone mobile


							Le temps d’arrivée fourni par le Prestataire est indicatif et basé sur des temps standards qui ne sauraient engager sa responsabilité.


							Sur demande du Client, le Prestataire transmet les informations relatives à la Commande conservées dans la base de données du Prestataire.

							<h5 class="con_H5">4. Annulation de la Commande</h5>
							Toutes les conditions d’annulation sont définies par les présentes Conditions Générales.


							Dans le cas d’une Commande à l’Avance, si le client annule 60 minutes avant la prestation , il sera alors débité du montant de la course , si le client annule entre 60 et 120 minutes avant la prestation, ce dernier sera alors débité de 50% du montant de la course enfin, s’il annule plus de 120 minutes avant la prestation le client ne sera pas débité. De plus s’il n’a pas annulé la commande avant l’arrivée du véhicule, que le client ne se présente pas au lieu de départ après avoir reçu le SMS de confirmation d’arrivée du véhicule, ou annule au moment où le chauffeur ou le prestataire appelle le client au téléphone, le chauffeur attendra 20 minutes après c’est 20 minutes s’il le client ne se présente pas alors le montant total de la course sera débité sur son compte bancaire.

							<h5 class="con_H5">5. Conditions tarifaires et de paiement</h5>
								<h6 class="con_H6">5.1 Description des tarifs</h6>
							En cas de saisie du lieu de destination, le prix du Transfert journalier est donné à l’avance et les tarifs tiennent compte de :
							- La distance à parcourir ;


							- La durée du Transfert journalier ;


							- Le type de voiture ;


							- Le moment de la journée ;


							Le tarif est mentionné TTC et inclut la TVA au taux en vigueur.


							En l’absence de saisie du lieu de destination, et de dépassement de la commande initiale, le Transfert journalier est facturé au temps –1 € TTC par minute (Berline Eco),1,3€ TTC par minute (van), 1,3 € TTC par minute ( berline premium ), 1.7€ par minute (berline, van de luxe) et 1,5€ par minute (moto) . Un complément de prix lié à la distance sera appliqué :


							- 0,8 € TTC par kilomètre (Berline Eco), 1€ TTC par kilomètre (Berline premium), 1,1€ TTC par kilomètre (Van) et 1,2€ TTC par kilomètre (Berline, Van de luxe et moto) pour une distance supérieure à 30 km.


							Le tarif minimum du Transfert journalier s’élève à 10 € (Eco) TTC, 15€ TTC (Berline premium, Van), 30 € TTC (Berline, Van de luxe), 40€ TTC (Moto) dans Paris et 15 € TTC (Berline Eco), 25€ TTC (Berline premium, Van), 35€ TTC (Berline, Van de luxe) et 40€ TTC (Moto) en banlieue. Le tarif effectivement appliqué est indiqué dans l’offre du Prestataire.


							En cas de trajets vers les aéroports, si le départ est effectué au sein de Paris, le tarif minimum (étant le trajet en véhicule Eco) applicable sera de 50€ (Orly) et 60€ (CDG).
							En cas de trajet des aéroports vers Paris, si le départ est effectué de Orly vers Paris le tarif minimum applicable sera de 50€. Si le départ est effectué de CDG vers Parisle tarif minimum applicable sera de 60 € .
							Pour les périodes exceptionnelles, le Prestataire pourra procéder à une majoration ponctuelle des tarifs (par exemple, le 1er Janvier 2014 de 00h01 à 05h59, le prix des courses sera majoré de 80%)

							<h6 class="con_H6">5.2 Frais en cas d’annulation de la Commande Immédiate</h6>
							Les frais d’annulation s’élèvent à 15 € (Berline premium) TTC ,10 € (Berline Eco) TTC, 20 € (Van eco) TTC et 25 € (Berline et Van de luxe, Moto) TTC minimum et seront débités automatiquement du compte bancaire du Client.


							Ils seront facturés au Client si l’annulation de la Commande Immédiate par le Client a lieu plus de 10 minutes après acceptation du prix. ( l'article 4). En ce qui concerne les frais d'annulation de la Commande à l'Avance cf article 4.

							<h6 class="con_H6">5.3 Frais en cas d'attente</h6>
							Les frais d’attente s’élèvent à 1,5 € (Berline, Van) TTC par minute , 1 € (Eco) TTC par minute et 2€ (Berline de Luxe, Van de luxe et Moto) TTC par minute , ces frais seront ajoutés au montant final de la facture du Transfert journalier.
							Ils seront facturés au Client à partir de 10 minutes d’attente par le chauffeur au lieu convenu tel que détaillé à l'article 3.3. Seules les minutes terminées seront facturées au Client.
							Au-delà de 15 minutes, le chauffeur pourra choisir de partir ou d’attendre gracieusement le Client.


							Les frais d’attente peuvent s’ajouter aux frais d’annulation si l’annulation a lieu après 10 minutes de présence du Chauffeur au lieu de prise en charge.


							Dans le cas spécifique d'une course au départ d'un aéroport (Roissy CDG, Orly, Le Bourget), les 30 premières minutes d'attente sont offertes au Client.

							<h6 class="con_H6">5.4 Modes de paiement</h6>
							Le prix doit être en totalité payé à la fin de la Prestation et comme indiqué sur la facture remise au Client.


							<h6 class="con_H6">5.6 Contestation des factures</h6>
							Toute facture qui ne fait l’objet d’aucune contestation (écrite) du Client dans un délai de 30 jours à compter de sa date d’envoi sera réputée acceptée par ce dernier. Une contestation ne peut en aucun cas justifier un retard dans le règlement de la totalité de la facture mensuelle.

							<h6 class="con_H6">5.7 Défaut de paiement</h6>
							En cas de retard de paiement ou pour tout moyen de règlement revenu impayé pour quelque raison que ce soit, les sommes dues seraient majorées à titre de pénalité liée à des prestations de recouvrement d’une somme forfaitaire de 40 € TTC.
							<h5 class="con_H5">6. Exécution de la prestation journalière</h5>
							<h6 class="con_H6">6.1 Etendue de la prestation journalière</h6>
							La prestation journalière commence à la montée du Client dans le véhicule du Chauffeur et s’achève à la descente du Client de ce même véhicule.
							<h6 class="con_H6">6.2 Prise en charge du Client</h6>
							Le Chauffeur peut refuser de prendre en charge le Client. Si un tel refus résulte du comportement du Client (état d’ébriété, présence d’un animal dont le poids dépasse 8 kg et non placé en cage, danger pour la sécurité du Chauffeur et du véhicule, etc.) ou d’informations incorrectes transmises par le Client, comme prévu par l’article 3.2, des frais d’annulation dont le montant est déterminé à l’article 5.2 pourront être facturés.


							Si les informations transmises par le Client sont incorrects, comme prévu par l’article 4, des frais d’annulation dont le montant est déterminé à l’article 5.2 lui seront automatiquement facturés.

							<h6 class="con_H6">6.3 Modification de la Commande par le Client</h6>
							Une fois la Commande effectuée par le Client, s’il y a une modification du lieu de destination cela entraînera le passage, par le Chauffeur à un mode de facturation sans lieu de destination. Au minimum le Client sera facturé du montant forfaitaire initialement accepté.

							<h5 class="con_H5">7. Responsabilité</h5>
							<h6 class="con_H6">7.1 Responsabilité du Prestataire</h6>
							Le Prestataire s’engage à tout mettre en œuvre pour la mise en relation du Client et du Chauffeur et n’est responsable qu’en cas de faute prouvée.


							La Prestation peut être sujette à des limitations, délais d’attente ou autres problèmes inhérents à l’utilisation d’Internet et des communications électroniques ; le Prestataire ne peut être tenu responsable des conséquences des délais, échecs de réception ou tout autre problème informatique ou technique ne résultant pas de son fait.


							Le Prestataire n’est pas responsable en cas de force majeure.


							Le Prestataire n’est pas responsable des dommages subis par le Client lors du Transfert journalier (retard, défaut d’exécution, mauvaise exécution), étant rappelé que la prestation de transport est sous l’entière responsabilité du Chauffeur qui exerce sa profession de façon indépendante.
							Si une faute du Prestataire est démontrée et si cette dernière a causé un dommage au client, le Prestataire devra réparer le dommage matériel direct, sous réserve qu’il soit justifié.

							<h6 class="con_H6">7.2 Responsabilité du Client</h6>
							Le Client s'engage à se comporter à bord du véhicule comme un bon père de famille.
							En cas de dégradation de l'équipement ou du véhicule imputables au Client, la Société lui refacturera les frais de remise en état du véhicule ou de changement de matériel.
							Les passagers, adultes et enfants, sont tenus d'attacher leur ceinture de sécurité. Une amende est encourue par les personnes prises en défaut lors d'un contrôle par les forces de l'ordre.
							Pour des raisons de sécurité, il est interdit de fumer et de transporter des substances inflammables, explosives, corrosives ou toxiques. Le non-respect de cette stipulation engage la responsabilité du Client et du passager. La Société se réserve alors la possibilité de tout éventuel recours.
							Les bagages doivent être déposés dans le coffre du véhicule. Les bagages demeurent sous l'entière responsabilité du Client. Aucun bagage ne peut être confié au Chauffeur. Le Chauffeur pourra refuser les bagages dont le poids ou les dimensions sont excessifs, ainsi que ceux qu'il estime préjudiciables à la sécurité du transport.

							<h5 class="con_H5">8. Engagement qualité</h5>
							<h6 class="con_H6">8.1 Conformité à la réglementation</h6>
							Le Prestataire s’engage à vérifier que les Chauffeurs et les véhicules sont conformes à la règlementation en vigueur en matière d’exploitation de véhicules de tourisme avec Chauffeurs.


							Le Prestataire assure cette vérification annuellement auprès des Chauffeurs, mais ne répond pas des changements de situation dont il n’aurait pas été informé.

							<h6 class="con_H6">8.2 Disponibilité de la Prestation</h6>
							L’Application permet un service opérationnel 24h/24, 365 jours/an. Le Prestataire peut néanmoins l’interrompre, avec ou sans préavis au Client, pour des raisons inhérentes aux contraintes d’exploitation.

							<h5 class="con_H5">9. Modifications</h5>
							La Société se réserve la possibilité de modifier les présentes Conditions générales, et ce sans préavis.

							<h5 class="con_H5">10. Droit applicable et juridictions compétentes</h5>
							Les présentes Conditions Générales sont soumises au droit français.
							Les litiges entre commerçants seront soumis exclusivement au Tribunal de Commerce de Paris.
						</p>

				</div>
				<!-- end modal body -->
				<div class="modal-footer">
				<address class="pull-left text-left">
					<strong>PLATINIUM CAB</strong><br>
									3 rue Marie Curie<br>
									91700 Villiers-sur-Orge<br>
				<i class="fa fa-phone-square"></i>  01 69 46 09 94
				</address>
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end Modal -->
</div>