
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">PLATINIUM CAB </h1>
                        <p class="intro-text">UNE AUTRE FAÇON DE VOYAGER</p>
                        <a href="#about" class="logo_inverted page-scroll">
                            <i class="fa fa-angle-double-down animated"><img src="img/1logo_inverted.png" class="hidden-xs" /><img src="img/logo_inverted_xs.png" class="visible-xs-* hidden-sm hidden-md hidden-lg" /></i>

                        </a>
                    </div>
                </div>
            </div>
        </div>
</header>