<section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>PLATINIUM CAB </h2>
                    <p>S'engage à mettre toute son expérience professionnelle du transport pour vous rendre votre trajet le plus agréable qui soit avec des chauffeurs de qualité et des véhicules haute gamme.</p>
                    <p>Nos prix sont fixes, aucun supplément ne vous sera demander que vous soyez bloquer dans les bouchons ou que vous ayez plusieurs bagages.</p>
                    <p>En quelques clics vous réserver votre voiture, avec un large choix de véhicules :</p>
                    <!-- Button trigger modal -->
                    <a href="#" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Nos véhicules</a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Nos véhicules</h4>
                          </div>
                          <div class="modal-body">
                                <p>BUSINESS : 508 – C5 ou équivalent</p>
                                <p>LUXE : MERCEDES Classe E – BMW Série 5 ou équivalent</p>
                                <p>PRESTIGE : MERCEDES Classe S – AUDI A8 ou équivalent</p>
                                <p>VAN BUSINESS : Caravelle ou équivalent</p>
                                <p>VAN PRESTIGE : VIANO ou équivalent</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>