<section id="nous" class="content-section">

   <div class="container us"> 
        <div class="row">
                <div class="col-sm-12">
                    <img src="img/us/us.jpg" class="img-responsive wow fadeInUp"/>
                </div>
         </div>
    </div>
    <div class="container">
        <div class="row us_words" data-wow-delay="3s">
                <div class="col-md-12 plat wow fadeInUp" >
                    <div  class="text-justify">
                        <p><span class="lead red">PLANITIUMCAB </span> est une société spécialisée dans le transport de personnes vers toutes destinations. Notre réseau de chauffeurs qualifiés ainsi que notre flotte de véhicules haut de gamme et prestige en font un acteur incontournable de la  profession.
                        Un système de réservation en ligne simple et sécurisé vous permettra en quelques clics d'obtenir un chauffeur dans les 2h.
                        Si vous souhaitez faire votre réservation par téléphone, vous pourrez obtenir un chauffeur dans la demie-heure.
                        </p>
                    </div>
                </div>
        </div>
				<hr />
				<hr />
        <div class="row">
                
                    <div class="col-md-8 col-md-offset-2 logo_ladies">
                        <img src="img/us/Logo-PLadies.png" class="img-responsive wow fadeInLeft"/>
                    </div>
         </div>
			
				<div class="row">
                
                    <div class="col-md-12 logo_ladies">
                        <img src="img/us/image_P_ladies 3.jpg" class="img-responsive wow fadeInRight"/>
                    </div>
         </div>
			
				<div class="row">
						<div class="col-md-6 ladies_text wow fadeInUp">
                            <div  class="text-justify">
                                <p>Nous proposons aussi des locations de véhicules de prestige avec ou sans chauffeurs pour vos mariages ou autres.
                                Pour les demoiselles qui souhaitent fêter leur enterrement de vie de jeune fille de façon originale, nous mettons à votre disposition un VAN rose conduit par une femme afin de laisser libre court à toutes vos fantaisies entre amies.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInUp">
                            <img src="img/us/us_ladies.png" class="img-responsive"/>
                        </div>
				</div>
    </div>

</section>