<!DOCTYPE html>
<html lang="fr" ng-app="app">

<% include includes/head %>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="mainCtrl">

    <!-- Navigation -->
    <% include includes/navbar %>

    <!-- Intro Header -->
    <% include includes/header %>
    <% include includes/recap-form %>

    <!-- Nous Section -->
    <% include includes/section-nous %>

    <!-- reservation Section -->
    <% include includes/section-reservation %>

    <!-- construct Section -->
    <% include includes/construction %>

    <!-- Footer -->
    <% include includes/footer %>

    <% include includes/mailer %>
		<% include includes/conditions %>
    <% include includes/scripts %>
</body>

</html>
