<!DOCTYPE html>
<html lang="en" ng-app="app">

<% include includes/head %>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-controller="mainCtrl">

        <!-- Navigation -->
        <% include includes/navigation %>

        <!-- Intro Header -->
        <% include includes/intro-header %>

        <!-- About Section -->
        <% include includes/section-prix %>

        <!-- Download Section -->
        <% include includes/section-download %>

        <!-- Contact Section -->

        <% include includes/section-contact %>

        <!-- Map Section -->
        <div id="map"></div>

        <!-- Footer -->
        <% include includes/footer %>

        <% include includes/scripts %>

    </body>

</html>
